
@{
    /**/

    ViewBag.Title = "Privacy";
}


<h1>MurMur Data Policy</h1>
<p>
    This policy describes the information we process to support MurMur.
    <hr>
    <h3>What kind of information do we collect?</h3>
<p>
    In order to provide MurMur products, we must process information about you. The kind of information we collect depends on how you use our products. You can learn how to access and delete the information we collect by visiting MurMur settings.
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
